*{
    margin: 0;
    transition: all 0.5s ease-in-out;

}

.container-carrusel{
    background-color: #011b5a;
    color: white;
    display: flex;
    padding: 10rem;
    justify-content: center;
}
.texto{
    width: 30%;
}
.texto h2{
    margin: 6rem 1rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}




.slider{
    display: flex;
    overflow: hidden;
    width:30.8rem;
    height: 19rem;
}
.testimonios{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    /* transform: translateX(-75%); */
    transition: all 1s ease-in-out;
}
.card-testimonios{
    background-color: #dee7e6;
    padding: 2rem;
    margin: 1rem;
    width: 25rem;
    height: 13rem;
    box-shadow: -1px 3px 29px -16px rgba(0,0,0,0.75);
    border-radius: 1rem;
    color: #141113;
    
}
.card-testimonios p {
    font-family: "Open Sans", sans-serif;
}
.card-testimonios h3{
    margin: 1rem;
    font-family: "Open Sans", sans-serif;
}

.puntos{
    display: flex;
    justify-content: center;
}
.puntos p{
    margin: 0 0.5rem;
    font-size: 3.3rem;
    transition: all 1s ease;
    cursor: pointer;
}
.punto-actual{
    color: #4f608d;
}

#hidden{
    display: none;
}

@media screen and (max-width:1036px) {
   .texto{
    width: 100%;
   }

   .container-carrusel{
    padding: 6rem;
   }

   .slider{
    width: 25rem;

   }

   .card-testimonios{
    width: 20rem;
    
   }

   .card-testimonios p{
    font-size: 0.91rem;
   }
}
@media screen and (max-width:770px) {
    
   .container-carrusel{
    display: grid;
    justify-items: center;
   }

   .texto{
    text-align: center;
   }
}

@media screen and (max-width:420px) {
    
    .container-carrusel{
        padding: 1rem;
    }
    
    .slider{
        width: 21rem;
        height: 25rem;
    }
    
    .card-testimonios{
        width: 16rem;
        height: 20rem;
    }
    
    .card-testimonios p{
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .card-testimonios h3{
        text-align: center;
    }
}

@media screen and (max-width:325px) {
    .slider{
        width: 18rem;
        height: 27.5rem;
    }
    
    .card-testimonios{
        width: 13rem;
        height: 23.5rem;
    }
    
    .card-testimonios p{
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }
}